/* Global Styles */

html {
  font-size: 14px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h2, h3 {
  font-weight: 700;
}

h2 {
  font-size: 1.7rem;
  padding-bottom: 20px;
}

h3 {
  font-size: 1.3rem;
}

.active {
  color: #399bd1;
}

.container-fluid p {
  padding-bottom: 2.8rem;
}

/* Navbar */
.navbar {
  font-weight: 600;
  font-size: 1.1rem;
}

.navbar-default .navbar-nav li.active a,
.navbar-default .navbar-nav li.active a:hover  {
  color: #399bd1;
  background-color: transparent;
}

/* Jumbotron */

.jumbotron {
  padding: 11.85rem 0;
  text-align: center;
}

.jumbotron-bike {
  background-image: url(../../resources/images/jumbotron-bike.jpg);
  background-position: center;
  background-size: cover;
}

.jumbotron-beer {
  background-image: url(../../resources/images/jumbotron-beer.jpg);
  background-position: center;
  background-size: cover;
}

.jumbotron-flowers {
  background-image: url(../../resources/images/jumbotron-flowers.jpg);
  background-position: center;
  background-size: cover;
}

.jumbotron-duffel {
  background-image: url(../../resources/images/jumbotron-duffel.jpg);
  background-position: center;
  background-size: cover;
}

.jumbotron h1 {
  font-family: 'Monoton', cursive;
  font-size: 7.1rem;
  font-weight: normal;
  color: white;
  text-shadow: -1px -1px 0 #000,
              1px -1px 0 #000,
              -1px 1px 0 #000,
              1px 1px 0 #000;
}

.jumbotron {
  margin-bottom: 0;
}

.jumbotron p {
  max-width: 51.3rem;
  color: #fff;
  margin: 0 auto;
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 767px) {
  .jumbotron h1 {
    font-size: 5.7rem;
  }
}

.btn-primary {
  padding: 1.3rem;
  width: 11.4rem;
  background-color: #399bd1;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover {
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.9);
}

.btn-primary:active {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
}


/* Featured project */

.feature-project .image-container {
  height: 19rem;
}

.image-container {
  overflow: hidden;
}

.image-container img {
  opacity: 0.5;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s;
}

.image-container img:hover {
  opacity: 1;
  transform: scale(1.3);
  overflow: hidden;
}

@media (max-width: 991px) {
  img {
    width: 100%;
  }
}

.categories li {
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.7);
}

/* Projects */
.projects {
  padding-bottom: 5.85rem;
}

.project .image-container {
  height: 10.5rem;
}

/* Having Trouble */
.trouble {
  background-color: #f3f3f3;
  padding: 5.2rem 0;
  text-align: center;
}

.trouble h1 {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 1.4rem;
}

.trouble p {
  font-size: 1rem;
  max-width: 42rem;
  margin: 0 auto;
}
